@font-face {
  font-family: 'Comfortaa';
  src: url("../assets/fonts/Comfortaa/Comfortaa.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

a {
  color: rgb(51, 49, 49);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: rgb(74, 165, 192);
}


/* HOME PAGE -> HEADER*/
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow-x: hidden;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #455774;
  font-size: 22px;
  padding: 5px 1%;
  font-size: 2.5vmin;
  padding: 1%;
}
.nav-link_to_pages {
  width: 50%;
}
.nav-link_to_pages a {
  text-decoration: none;
  margin-right: 1%;
  color: #8899b4;
}
.nav-link_to_pages a:hover {
  border-bottom: 1px solid white;
  color: white;
}

.link-authorization {
  text-decoration: none;
  color: #8899b4;
  display: flex;
  flex-direction: row;
  margin-left: 800px;
}

.img-login {
  width: 40px;
  height: 40px;
  background: url('../assets/img/log_in.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-top: -1.2vh;
  margin-left: 1.5%;
  cursor: pointer;
}
.img-logout {
  display: none;
  width: 40px;
  height: 40px;
  background: url('../assets/img/log_out.svg');
  background-repeat: no-repeat;
  background-size: 40px 40px;
  margin-top: -1.2vh;
  margin-left: 1.5%;
  cursor: pointer;
}

/* HOME PAGE -> MAIN*/

.home-greeting {
  width: 100%;
  height: 70vh;

  background: url('./../assets/bg/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.greeting-title {
  position: absolute;
  top: 12%;
  right: 10%;
  width: 70%;
  color: #455774;
  font-weight: 900;
  font-size: 7vmin;
  text-align: center;
}

.home-about_app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_app-title {
  width: 100%;
  color: #38465e;
  font-weight: 100;
  font-size: 6vmin;
  text-align: center;
  margin: 5vh 0;
}
.card-privilege {
  width: 85%;
  height: 25vh;
  margin: 5vh auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-privilege_text {
  width: 50%;
  font-size: 3vmin;
  color: #455774;
  line-height: 1.5;
  text-align: center;
}
.card-privilege_img {
  width: 45%;
  height: 110%;
}

#img-1 {
  background: url('./../assets/img/book.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
#img-2 {
  background: url('./../assets/img/vocabulary.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#img-3 {
  background: url('./../assets/img/games.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
#img-4 {
  background: url('./../assets/img/statistic.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}


.team {
  width: 100%;
  background-color: #455774;
  color: white;
  padding: 3vh 0;
}
.about_team-title {
  width: 100%;
  color: white;
  font-weight: 100;
  font-size: 6vmin;
  text-align: center;
}
.card-team {
  width: 75%;
  // height: 30vh;
  margin: 5vh auto;
  padding: 2vh 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  transition: 0.4s;
}
.card-team:hover {
  box-shadow: 0px 3px 12px 5px rgba(255, 255, 255, 0.7);
  transform: scale(102%);
  cursor: pointer;
}

.card-team_text {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.team-person {
  font-size: 4vmin;
  color: #455774;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-github {
  width: 24px;
  height: 24px;
  margin-left: 1%;
  background: url('./../assets/svg/github.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.team-about_person {
  font-size: 3vmin;
  color: #455774;
  text-align: center;
  line-height: 1.2;
}

.card-team_img {
  width: 40%;
}
#img-team-1 {
  background: url('./../assets/img/team-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#img-team-2 {
  background: url('./../assets/img/team-1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#img-team-3 {
  background: url('./../assets/img/team-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* HOME PAGE -> FOOTER*/
footer {
  margin-top: 0.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  text-align: center;
  background-color: #455774;
  color: white;
  

  // position:fixed;
  // bottom: 0;
}
footer .container {
  width: 100%;
}
.footer__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.link-github a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
}
.img-rss {
  height: 100px;
  width: 100px;
  background: url('./../assets/svg/rss.svg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  margin-top: 5px;
  margin-top: 2vh;
}
.link-github:hover,
.img-rss {
  cursor: pointer;
}
