.header {
  margin-top: 20px;
  margin-bottom: 20px;
  .btn__header {
    padding: 5px;
    margin-right: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgb(183, 224, 155);
  }
  .btn__header:hover {
    border-color: rgb(74, 165, 192);
    color: rgb(74, 165, 192);
    background: rgb(31, 30, 30);
  }
}
